.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.logo {
  width: 9rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, .15);
  position: fixed;
  top: 0;
  width: 97%;
  background-color: #1b1b1b;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.link-item{
  padding: 0.5rem;
  border-radius: 0.125rem;
  &:hover{
    background-color: rgb(0, 179, 255);
    cursor: pointer;
  }
}

.profile-container {
  position: relative;
}

.profile {
  background-color: rgb(59, 56, 56);
  border-radius: 50%;
  width: 2.5rem;
  line-height: 1.5rem;
  cursor: pointer;
}

.profile-img {
  width: 2rem;
}

.auth-modal {
  padding: 1rem;
  margin: 0.25rem;
  width: 10rem;
  position: absolute;
  background-color: #ddd;
  right: 1rem;
  border-radius: 0.25rem;
  background-color: #393939;
  border: 1px solid #b9b9b9
}

.signin-btn{
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 2rem;
  background-color: rgb(0, 179, 255);
  color: #fff;
}

#search{
  border: none;
  padding: 0.25rem;
  &:focus{
    outline: none;
  }
}

.searchbar-container {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0.4rem;
  padding-right: 1rem;
  border-radius: 2.5rem;
  border: none
}

.search-profile-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.musicList-Container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.music-player {
  background-color: coral;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 1rem;
}

.play-pause {
  height: 3rem;
  width: 3rem;
  border-radius: 2rem;
  border: none;
}

.artist-list {
  font-size: 0.75rem;
  color: #393939;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  &:focus{
    outline: none;
    box-shadow: 0 0 0.75rem rgba(0, 179, 255, 0.759);
  }
}